</div>
  <!-- FIN NAV -->
  <!-- Inicio presentación -->

  <div class="container-fluid bg-primary py-1">
    <div class="row text-center presentacion">
      <div class="col-12 ld-4 py-1">
        <img src="image/cine.jpg" alt="Imagen de un cine. Responsive image">
      </div>
    </div>
    <div class="container pb-1">
      <div class="row ">


        <div class="col md-3">
          <div class="text-center">
            <button type="button " class="btn btn-success btn-lg" id="btnInicio"> <span
                  class="text-light">Inicio</span></button>
          </div>
        </div>
        <div class="col md-3 "> </div>
        <div class="col md-3 "> </div>
        <div class="col md-3 ">
          <div class="text-center">
            <button type="button " class="btn btn-success btn-lg" id="btnSeries"><span class="text-light"> Series
                </span></button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- FIN PRESENTACIÓN -->
  <!-- Inicio main -->
  <div class="container">
    <div class="row">

      <div class="col-md-7">
        <h1 class="display-4 lead">Últimas noticias</h1>
        <hr>

        <!-- Inicio carrusel -->
        <div class="row justify-content-center">
          <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item">
                  <img src="image/Aprendiendo.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Aprendiendo a vivir</h5>

                  </div>
                </div>




                <div class="carousel-item active">
                  <img src="image/Carmen.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Carmen y Lola</h5>

                  </div>
                </div>
                <div class="carousel-item">
                  <img src="image/El refugio.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>El refugio de los insomnes</h5>

                  </div>
                </div>
                <div class="carousel-item">
                  <img src="image/Esplendor.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Donaire y esplendor</h5>

                  </div>
                </div>
                <div class="carousel-item">
                  <img src="image/indivisible.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>indivisible</h5>

                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
              <hr>
          </div>
          <!-- FIN CARRUSEL -->

          <div class="bloque-contenido pt-1">

            <main class="pelis" role="main">

              <article class="row">                
                  <div class="card mb-1" style="max-width: 650px;">
                    <div class="row no-gutters">
                      <div class="col-md-3">
                        <img src="image/Aprendiendo.jpg" class="card-img" alt="img">
                      </div>
                      <div class="col-md-9">
                        <div class="card-body">
                          <h5 class="card-title">Aprendiendo a vivir</h5>
                          <p class="card-text">Asher es un joven de 17 años, impulsivo y con un gran temperamento. Tiene que abrirse camino en la vida adaptándose a un contexto de mucha presión que intentará modificarlo. ¿Podrá el joven con su existencia?. <a href="#Aprendiendo">Continuar leyendo...</a></p>
                          </div>
                      </div>
                    </div>
                  </div>
                
              </article>

              <article class="row">                
                <div class="card mb-1" style="max-width: 650px;">
                  <div class="row no-gutters">
                    <div class="col-md-3">
                      <img src="image/Carmen.jpg" class="card-img" alt="img">
                    </div>
                    <div class="col-md-9">
                      <div class="card-body">
                        <h5 class="card-title">Carmen y Lola</h5>
                        <p class="card-text">Carmen es una adolescente gitana que vive en las afueras de Madrid. Está destinada a vivir una que se repite por generaciones: casarse y criar sus hijos. Pero un día conocea a Lola y su vida tendrá un cambio imprevisto.<a href="#CL">Continuar leyendo...</a></p>
                        </div>
                    </div>
                  </div>
                </div>
              
            </article>

            <article class="row">                
              <div class="card mb-1" style="max-width: 650px;">
                <div class="row no-gutters">
                  <div class="col-md-3">
                    <img src="image/El refugio.jpg" class="card-img" alt="img">
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <h5 class="card-title">El refugio de los insomnes</h5>
                      <p class="card-text">Una amistad única se desarrolla entre un hombre que sufre de insomnio, un aspirante a fotógrafo y una mujer que no está segura acerca de su embarazo. Ellos se reúnen cada noche en una tienda de conveniencia con la expectativa de mejorar sus vidas.<a href="#Ref">Continuar leyendo...</a></p>
                      </div>
                  </div>
                </div>
              </div>            
          </article>

          <article class="row">                
            <div class="card mb-1" style="max-width: 650px;">
              <div class="row no-gutters">
                <div class="col-md-3">
                  <img src="image/Esplendor.jpg" class="card-img" alt="img">
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5 class="card-title">Donaire y esplendor</h5>
                    <p class="card-text">En el Carnaval tradicional de un pequeño pueblo llamado Las Tablas hay dos calles rivales: Calle Arriba y Calle Abajo. Una joven pareja, después de un encuentro inesperado en el aeropuerto, se enamoran apasionada y perdidamente.<a href="#DE">Continuar leyendo...</a></p>
                    </div>
                </div>
              </div>
            </div>
          
        </article>

             <article class="row">                
            <div class="card mb-1" style="max-width: 650px;">
              <div class="row no-gutters">
                <div class="col-md-3">
                  <img src="image/indivisible.jpg" class="card-img" alt="img">
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h5 class="card-title">Indivisible</h5>
                    <p class="card-text">Tras servir en el ejército estadounidense, el capellán Darren Turner afronta una crisis que pone patas arriba sus lazos familiares y su fe. Tendrá que recurrir a la ayuda de sus compañeros soldados para salir adelante.<a href="#I">Continuar leyendo...</a></p>
                    </div>
                </div>
              </div>
            </div>
          
        </article>
            </main>

          </div>

        </div>

      </div>



      <div class="col-md-5 pt-5">
        <table class="table table-striped table-success">
            <thead>
              <tr>
                <th scope="col">GÉNERO</th>
                <th scope="col">2016</th>
                <th scope="col">2017</th>
                <th scope="col">2018</th>
                <th scope="col">2019</th>
                <th scope="col">Del</th>
                <th scope="col">Mod</th>
                
              </tr>
            </thead>
            <tbody id="ranking">
              <!-- aca va la tabla cargada desde el js -->
            </tbody>
          </table>
          <form action="#">
        
          <div class="rounded border border-success my-1 mx-1">
          <input type="text" class="form-control " placeholder="Ingrese Genero" aria-label="Ingrese Genero" aria-describedby="basic-addon1" id="idGenero">
        </div>
           
            <div class="btn-group my-1 mx-1 rounded border border-success"  role="group " >
              <input type="number" class="form-control mr-1" placeholder="En 2016" aria-label="En 2016" aria-describedby="basic-addon1" id="idPrimero">
              <input type="number" class="form-control mr-1" placeholder="En 2017" aria-label="En 2017" aria-describedby="basic-addon1" id="idSegundo">
              <input type="number" class="form-control mr-1" placeholder="En 2018" aria-label="En 2018" aria-describedby="basic-addon1" id="idTercero">
              <input type="number" class="form-control" placeholder="En 2019" aria-label="En 2019" aria-describedby="basic-addon1" id="idCuarto">
            </div>
            
           
            <div class="btn-group py-2 px-1 container"  role="group" aria-label="Basic example "  class="justify-content-center">
              <button type="button" class="btn bg-success text-white" id="ingresar">Ingresar</button>
              <button type="button" class="btn bg-success text-white" id="ingresar3">Ingresar 3</button>
              <button type="button" id="btnGuardar" class="btn bg-success text-white oculto">Guardar modificación</button>
            </div>
  
            </form>
<div class="mx-1" role="group" aria-label="Basic example ">
    <form action="#" class="form-inline border rounded border-success container bg-success" >
       
          <input type="number"  name="filtro" class="form-control pr-1 mr-3" placeholder="mayores a.." required aria-label="mayores a.." aria-describedby="basic-addon1" id="idFiltro">
          <button type="button" class="btn bg-success text-white px-3 mx-3" id="filtrar">Filtrar</button>
          <button type="button" class="btn bg-success text-white px-3" id="idDeshacer">Borrar</button>
        
    </form> 
       </div>
    
      </div>
    

      <div class="text-justify">
        <h2> <a id="Aprendiendo" class="lead text-success">Aprendiendo a vivir</a></h2>
        <p class="informacion ml-5"> La ópera prima de ficción del director Matan Yair (quien es un premiado novelista)
          ha tenido un exitoso recorrido por festivales (a destacar que fue Ganadora del premio a Mejor Actor y Mejor
          Película en el Festival de Cine de Jerusalén, fue seleccionada oficialmente en el Festival de cine de Toronto
          y se vio en Cannes en una de sus secciones más alternativas llamada ACID). El mismo autor cuenta que la
          película se basa en cierta manera en sus propias experiencias personales, cosa que no es de extrañar por la
          universalidad del discurso de esta historia, en la que vemos cómo este joven algo desubicado deberá decidir
          cómo colocar los andamios de lo que será su vida, en continuo conflicto con lo que su padre espera de él y sus
          propios deseos.

          Una película de esas que te dejan huella, de las que recuerdas y recomiendas para hablar de un tema como las
          relaciones de poder paternofiliales, la masculinidad tóxica en las relaciones familiares, la presión de la
          familia y cómo plantarle cara sin salir herido, las formas de ver el mundo en el que vivimos, las taras y
          beneficios del sistema educativo, y sobre todo el poder de las humanidades para forjar seres humanos íntegros
          en un mundo en el que no sólo importa generar dinero.

          Tu vida es tuya
          'Aprendiendo a vivir' es un film redondo, con un protagonista debutante (Asher Lax comparte nombre y apellido
          con su personaje) como un joven de 17 años que compagina sus últimas semanas de instituto mientras pone
          andamios para la empresa de su padre. Asher es algo brusco pero también vulnerable y con buen fondo. Por
          suerte para él, cuenta con un profesor con vocación que entiende su naturaleza y le reta para que vea el mundo
          de otra manera, casi como otra figura paterna. Por desgracia, el padre de Asher, a quien el chico quiere y
          cuida, espera de él que herede el negocio y no hace más que restar importancia a cómo éste aprecia los
          estudios. A destacar también sus partenaires en la cinta: un Yaacov Cohen como un duro padre lleno de matices
          y Ami Smolartchik como el sensible y paciente profesor.
        </p>
        <h2> <a id="CL" class="lead text-success">Carmen y Lola</a></h2>
        <p class="informacion ml-5"> Carmen y Lola es la primera película que trata un tema tabú: una historia de amor
          entre dos adolescentes gitanas. Esta circunstancia ha provocado que el equipo haya tenido que enfrentarse a
          múltiples problemas y que el rodaje haya estado plagado de anécdotas que nos explica su directora, la vasca
          Arantxa Echevarría:

          -Una película femenina: No solo la dirección y el guion han sido obra de una mujer, el máximo protagonismo
          también corresponde a dos chicas como ya indica el título. Pero es que también las hay en muchos otros
          apartados: productoras, compositora, fotógrafa, vestuario, diseño de arte, maquillaje y peluquería, etcétera.

          -Actores no profesionales: Todo el reparto está compuesto por gente que debuta delante de las cámaras con una
          excepción: Carolina Yuste, que interpreta a Paqui, la amiga de las jóvenes, que es una habitual en el teatro y
          hemos visto en la serie La sonata del silencio. Me engañó, me dijo que era gitana y es paya. Pero su prueba
          fue estupenda. Es de Badajoz y allí tiene muchas conexiones con gitanos.

          -El reconocimiento de un gran certamen: Pese a tratarse de una primera película, el festival de Cannes la
          seleccionó para participar en su prestigiosa Quincena de los Realizadores. Fue una pasada porque en esta
          edición se celebraban los 50 años del mayo del 68 y también de esta sección. Fue ver como una película pequeña
          se abre y se vuelve internacional y enorme. Quieren hablar contigo agentes de venta y conversé con el
          productor de Mustang, que estaba muy interesado en el filme.
        </p>
        <h2> <a id="Ref" class="lead text-success">El refugio de los insomnes</a></h2>
        <p class="informacion ml-5"> Santiago (Leonardo Ortizgris) lleva noches sin dormir a causa del insomnio y ya no
          sabe qué hacer para conseguir descansar. Debido a que se pasa las noches en vela, acaba visitando una tienda
          24 horas para matar el tiempo. En ese lugar de tránsito, conocerá a una aspirante a fotógrafa, la encargada
          Danny, y a una mujer que acaba de conocer que está esperando un bebé, la veterinaria Estela. Entre ellos
          surgirá una amistad muy curiosa. Cada noche se reúnen en la tienda y observan las actuaciones hilarantes que
          tienen los clientes que compran con nocturnidad, evitando así pensar en sus propios problemas. Dirigida por
          Joseduardo Giordano y Sergio Goyri Jr., 'El refugio de los insomnes' también cuenta entre su reparto con
          Alejandra Ambrosi, Cassandra Ciangherotti y Fernando Becerril, entre otros.
        </p>
        <h2> <a id="DE" class="lead text-success">Donaire y esplendor</a></h2>
        <p class="informacion ml-5"> En el Carnaval de Las Tablas hay dos calles que se odian a muerte: Calle Arriba y
          Calle Abajo.
          Donaire y Esplendor, hijos de dos ex-reinas enemigas y rivales de calles opuestas, se enamoran perdidamente
          sin saber quiénes son.

          Ambos lucharán por salvar su amor al mejor estilo de Romeo y Julieta en medio de culecos, carros alegóricos,
          murgas, fuegos artificiales y un efervescente carnaval Tableño.

          Todo un pueblo partido en dos y sus familias enfrentadas para defender la tradición y el honor de sus calles
          en la batalla final del topón.
        </p>
        <h2> <a id="I" class="lead text-success">Indivisible</a></h2>
        <p class="informacion ml-5"> 'Indivisible' narra la extraordinaria historia real del capellán del ejército
          Darren Turner y su esposa Heather. Cuando la guerra graba cicatrices de batalla en sus corazones, se enfrentan
          a una batalla más: la lucha por salvar su matrimonio. Un matrimonio, una familia, bajo Dios.
        </p>

      </div>
    </div>
  </div>
</div>