<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilo.css">
 
  <title>TP Segunda Entrega</title>
  <link rel="shortcut icon" href="image/glasses.ico"/> 
</head>

<body>
  <!-- Inicio Nav -->
  <div class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark container ">
      <a class="navbar-brand">
        <img src="image/cinefilo001.png" width="140" height="70" alt="logo de los cinéfilos">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active border-left">
            <a class="nav-link " href="nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item active border-left">
            <a class="nav-link  " href="index.html">Inicio</a>
          </li>
          <li class="nav-item active border-left">
            <a class="nav-link " href="contacto.html">Contáctanos</a>
          </li>
        </ul>

      </div>
    </nav>

  </div>
  <!-- FIN NAV -->
  <div class="container">
    <div class="jumbotron bg-warning text-danger">
      <h1 class="display-4">Nuestros servicios.</h1>
      <p class="lead">"Para un buen trabajo se requiere conocimiento; para uno mejor, experiencia; pero para uno
        excelente, se necesita conocimiento, experiencia y atención, por eso somos excelentes en lo que hacemos."</p>
      <hr class="my-4">
      <p>Te agradecemos que formes parte de la comunidad cinéfila y, si aún no lo hicíste, regístrate ya!.</p>

    </div>
  </div>
   <!-- Inicio registración -->
   <div class="container" class="dropdown-menu">
    <div class="bg-secondary text-white px-4 py-2">
      <div class="form-group">
        <label for="exampleDropdownFormEmail2">Ingresá tu Email</label>
        <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormPassword2">Ingresá el Password</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dropdownCheck2">
          <label class="form-check-label" for="dropdownCheck2">
            Recuérdame
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Registrate</button>
    </div>

  </div>
  <!-- FIN REGISTRACIÓN -->
  <!-- Inicio del footer-->
  <div class="container-fluid bg-dark">
      <div class="container "><!-- agregar margen positivo-->
     
        <div class="row">
          <div class="col-6">
      <footer class="bg-dark text-white mt-2 ">
         
           <small>Copyright © 2019 Cinéfilo</small>
         
       </div>
         <div class="col-6">
         <ul class="nav justify-content-end">
           <li class="nav-item">
             <a class="nav-link" href="#">Políticas del sitio</a> 
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Preguntas frecuentes</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Contáctanos</a>
           </div>
         </div>
         </ul>
       </footer></div></div>
       <!-- FIN FOOTER -->
  <!-- Inicio de social -->
  <div class="social">
    <a href="#" title="Ir a Facebook"> <img src="image/fb.png" alt="Logo de Facebook"></a>
    <a href="#" title="Ir a Youtube"> <img src="image/yt.png" alt="Logo de Youtube"></a>
    <a href="#" title="Ir a Twitter"> <img src="image/twitter.png" alt="Logo de Twitter"></a>
  </div>
  <!-- FIN SOCIAL-->


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>